/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.6;
    background-color: #fff;
    margin: 0;
}

header {
    background-color: #fff;
    color: #333;
    padding: 6px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container h1 {
    margin: 6px 0px;
    font-size: 1.4em;
}
.container h1 a {
    color: #333;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    max-width: 640px;
    margin: 60px auto 0;
    padding: 20px;
}

#article-title {
    margin-bottom: 20px;
    text-align: center;
}

#article-title h2 {
    font-size: 1.5em;
    color: #333;
}
#article-date {
    text-align: right;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 0;
}

#article-content {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

#article-content a[href*="morvra.github.io"]{
    text-decoration: none;
}

#article-content blockquote {
    background-color: #eee;
    margin: 0 16px;
    padding: 4px 16px;
}

#article-content ul {
    margin: 0;
}

footer {
    border-top: 1px solid #bbb;
    text-align: center;
    padding: 8px 0;
    width: 100%;
    bottom: 0;
}
